.borderService{
    border-left: 4px solid #49C53C;
    border-top: 1px solid rgb(156, 155, 155);
    border-right: 1px solid rgb(156, 155, 155);
    border-bottom: 1px solid rgb(156, 155, 155);
}
.bordermidle{
    border-left: 4px solid #49C53C;
    border-right: 1px solid rgb(156, 155, 155);
    border-bottom: 1px solid rgb(156, 155, 155);
}
.servicetype{
    width: 700px;
    border: .5px solid gray;
    margin: auto;
    border-radius: 10px;
    padding: 30vmin O;
}
.sidebar{
    height: 100vh;
    width: 90px;
    background-color: #4E4E4E;
    color: white;
    font-size: 30px;
}
.outlet{
    width: 100vw;
}
.basic{
    width: 1024px;
    height: min-content;
    
    border: .5px solid gray;
    margin: auto;
}
.header{
    height:88px;
  display:flex;
     justify-content:space-between;
      align-items:center;
    margin: 5px 10px;
      
}
.logoImg{
    height:67px
}
.headericon{font-size:36px;
    margin-right:25px; margin-bottom:20px}
.toggle{
  width: 130px;
  height: 48px;
  background-color: white;
  border:.5px solid gray;
  border-radius: 25px;
  
}
.togglebtnwt{
    font-size: 34px;
    color: white;
    width: 60px;
    height: 48px;
    background-color: #1BB70B;
    border-radius: 50px;
    
    text-align: center;
   
}
.togglebtngr{
    font-size: 34px;
    color: #1BB70B;
    width: 60px;
    height: 48px;
    
    border-radius: 50px;
    padding-left: 84px;
    text-align: center;
   
}

@media only screen and (max-width: 576px) {
    body {
      margin: 0;
      padding: 0;
    }
    .sidebar{
        height: 120%;
    }
    .header{
        height:50px;
       
      display:flex;
         justify-content:space-between;
          align-items:center;
        margin: 0px;
          
    }
    .headericon{
        font-size: 10px;
        margin: 0;
    }
    .header img{
        height: 30px;
    }
  }
  