.detailUpper{
    height: 160px;
    background-color: white;
}
.linkButton{
    font-style: Medium;
    font-size: 24px;
    text-decoration: none
}
.nextButton{
    width: 257px;
    height: 68px;
    background: #4E4E4E;
    font-style: Bold;
   font-size: 24px;

}
p{
    font-size:20px ; 
    text-align: center;
}
.teamMember{
    width: 737px;
    height: min-content;
    border: .5px solid gray;
    margin: auto;
    font-weight: 400;
    font-size: 24px;
}
input[type=radio] {
    border: 1px;
    width: 20px;
    height: 20px ;
    
    
}
.location{
    margin-left: 5px;
    text-align: left;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}
.setImg{
        text-align: center;
        display: flex;
        height: 50vh;
        width: 100vw; 
        align-content: flex-end;
        justify-content: center;
       
}